
			div {
				display: inline-block;
				height: 40px;
				line-height: 40px;
				margin: 100px 10px;
				text-align: center;
				color: #fff;
				font-size: 20px;
			}

			div>div {
				background-color: #333;
				width: 40px;
			}

			.hour {
				margin: 0px 10px 0px 100px;
			}
		